<div class="col-md-4 mt20">
        <div class="post-img">
           {% if page.img %}
            <img width="600" src="{{site.baseurl}}/images/logos/{{page.img}}" alt="{{page.title}}">
            {% else %}
            <img width="600" src="{{site.baseurl}}/images/{{site.default-image}}" alt="logo">
            {% endif %}
        </div>
            
        
        <div class="mt10 recent">
            <h2>Material</h2>       
             <!--<ul>-->
                <!--{% for post in site.related_posts limit:3 %}-->
                <!--{% if post.resource %}
            COMING SOON 

                      <li>
                      
                      {% else %}
                      <p><a href="/cisw/resources/{{post.resource}}" download>Download materials</a><small></small></p>
</li>
                  {% endif %}-->
                <!--{% endfor %}-->
              <!--</ul>-->


            {% if page.resource %}
            <a href="/cisw/resources/{{page.resource}}" download>Download materials</a>
            {% else %}
            
            {% endif %}

        </div>
        

</div>
